#merchant {
  label {
    display: inline-block;
    min-width: 120px;
  }
  .interactions {
    margin: 20px 0;
    form {
      margin: 20px 0;
    }
  }
  .review {
    display: flex;
    margin: 20px 0;
    .archive {
      display: flex;
      button {
        max-height: 20px;
        margin: auto 20px;
      }
    }
    .info {
      flex: 1;
    }
  }
}
